<template id="templateTableBody">
    <tbody>
        <tr>
            <th scope="row" class="id">1</th>
            <td class="name">Mark</td>
            <td class="shape">Otto</td>
            <td>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
            </td>
        </tr>
    </tbody>
</template>